* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*c3的模型*/
}
html,
body,
#allmap {
  width: 100%;
  height: 700px;
  overflow: hidden;
  margin: 0;
  font-family: "微软雅黑";
  border: #ccc solid 1px;
posi
}
